asgiref==3.11.1
black==25.11.0
cfgv==3.4.0
click==8.1.8
distlib==0.4.0
django==4.2.29
django-environ==0.13.0
djangorestframework==3.16.1
filelock==3.19.1
identify==2.6.15
mypy-extensions==1.1.0
nodeenv==1.10.0
packaging==26.0
pathspec==1.0.4
pillow==11.3.0
platformdirs==4.4.0
pre-commit==4.3.0
python-discovery==1.1.0
pytokens==0.4.1
pyyaml==6.0.3
ruff==0.15.4
sqlparse==0.5.5
tomli==2.4.0
typing-extensions==4.15.0
virtualenv==21.1.0
