{% extends "base.html" %}
{% load static %}
{% block content %}

<h2>로그인 (STEP1: 세션 로그인)</h2>

<input id="username" placeholder="username">
<input id="password" placeholder="password" type="password">
<button id="loginBtn">로그인</button>

<script>
document.addEventListener("DOMContentLoaded", () => {
    // 로그인 버튼 클릭 이벤트
  document.getElementById("loginBtn").addEventListener("click", async () => {
    try {

      // 입력창에서 username과 password 값 가져오기
      const username = document.getElementById("username").value;
      const password = document.getElementById("password").value;

      // 로그인 API 요청
      // 사용자 입력 데이터를 서버로 전송
      await api.post("/api/login/", { username, password });

      // 로그인 성공 시 알림 표시
      alert("로그인 성공");

      // Todo 리스트 페이지로 이동
      window.location.href = "/todo/list/";

    } catch (err) {

      // 오류 발생 시 콘솔에 출력
      console.log(err.response?.data || err.message);

      // 사용자에게 실패 메시지 표시
      alert("로그인 실패");
    }
  });

});

</script>
